<%= render 'shared/header' %>
<div class="main-container">
  <%= render 'shared/sidebar'%>
  <div class="main-posts" style="padding-left: 15px;"> 
    <%= render 'posts/new'%>
    <%= render 'posts/new'%>
    <%= render 'posts/new'%>
    <%= render 'posts/new'%>
    <%= render 'posts/new'%>
    <%= render 'posts/new'%>
    <%= render 'posts/new'%>
    <%= render 'posts/new'%>
    <%= render 'posts/new'%>
    <%= render 'posts/new'%>
    <%= render 'posts/new'%>
  </div>
</div>

<%= render 'shared/footer'%>