<%= form_with(model: @post, url: user_posts_path(current_user.id)) do |f| %>

  <% if @post.errors.any? %>
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being created </h2>

    <ul>
      <% @post.errors.each do |error| %>
        <li> <%= error.full_message %>  </li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title  %> <br>

  <%= f.label :body %>
  <%= f.text_area :body %> <br>

  <%= f.submit "Post" %>

<% end %>